/* Article.css */

.menu-bar {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .article-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5; /* light grey */
  }
  
  .article-content {
    display: flex;
    background-color: white;
    border: 1px solid #ddd; /* light grey border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
  }
  
  .article-image img {
    max-width: 500px;
    height: auto;
    border-right: 1px solid #ddd; /* light grey border */
  }
  
  .article-info {
    padding: 20px;
  }
  
  .article-price {
    color: grey;
    margin: 10px 0;
  }
  
  .add-button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: darkgrey;
  }
  